.date-wrapper {
    width: 500px;
    margin: 50px auto;
}

.date-time-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-time {
    margin: 7px 35px 0;
    width: 60px;
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 95% 45% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 120px;
    margin-right: 0;
}

[type='date']::-webkit-datetime-edit {
    padding: 1em;
}

[type='date']::-webkit-inner-spin-button {
    display: none;
}

