.main-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px 0;
    width: 700px;
    background: #f9f4e6;
}

.arrow {
   margin-top: 10px;
    font-size: 60px;
    width: 60px;
    height: 30px;
}